.container {
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  text-align: center;
  width: 100%;
}

.image {
  width: min(100%, 760px);
  height: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 1000;
  font-size: 50px;
  line-height: 1.1;
  color: var(--color-text);
}

.description {
  font-size: 20px;
  margin: 0;
  color: var(--color-text);
}
